@media only screen and (orientation:landscape){
  background-color:#ffff;
  #main { display : none; }
  #container{ display:block;}
  #filters{ display:block;}
}
@media only screen and (orientation:portrait){
  #main { display: block; }
  #container{ display:none;}
  #filters{ display:none ;}
}
